/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header Top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palevioletred; /* purple */
  color: white;
  padding: 10px 50px;
  font-size: 14px;
  position: relative;
}

.header-top .header-left span {
  margin: 0 10px;
}

.header-top .header-right .icon i {
  margin-left: 15px;
  cursor: pointer;
  color: palevioletred;
}

/* Optional: change icon background color to light green */
.header-top .header-right {
  background-color: #cff4df;
  position: absolute;
  top: 0px;
  right: 250px;
  padding: 15px;
}

/* Header Bottom */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cff4df; /* same purple */
  padding: 15px 50px;
}

.header-bottom .logo h1 {
  color: #4a4a4a;
}

.header-bottom .pages a {
  color: #4a4a4a;
  margin-left: 30px;
  text-decoration: none;
  font-weight: bold;
}

.header-bottom .pages a:hover {
  color: palevioletred;
}

.header-bottom .booking button {
  background-color: palevioletred;
  color: #4a4a4a;
  padding: 15px;
  font-size: medium;
  font-weight: 700;
  border-radius: 0px 20px;
  border: none;
  margin-right: 220px;
}
.header-bottom .booking button:hover {
  background-color: white;
  color: palevioletred;
}
/* SECTION-1 */
.section-1 {
  height: 100vh;
  background-image: url("image/mom.jpg");
  background-size: cover;
}
.section-1-content {
  float: right;
  align-content: center;
  height: 100vh;
  padding-right: 100px;
}
.section-1-content h1 {
  color: rgb(156, 64, 95);
  font-size: 40px;
}
.section-1-content h2 {
  margin-bottom: 10px;
  color: palevioletred;
  font-size: 50px;
}
.section-1-content p {
  line-height: 1.8;
  color: black;
}

/* SECTION-2 */

.section-2 {
  height: 120vh;
  background-color: whitesmoke;
}
.section-2-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 60vh;
}
.card {
  width: 400px;
  padding: 30px;
  border-radius: 0px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: palevioletred;
}

.card-title {
  padding: 10px;
  color: white;
}
.card-text {
  padding: 10px;
  line-height: 1.2;
  color: white;
}
.card:hover {
  transform: scale(1.05); /* Slightly zooms the card */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Optional: stronger shadow on hover */
  background-color: #cff4df;
}

/* SECTION-2 IMAGE */
.section-2-left {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2-left img {
  width: 50%;
  padding: 10px;
  border-radius: 50%;
}
.section-2-right {
  float: right;
  width: 50%;
  padding: 30px;
  border-radius: 0 30px;
  margin: auto;
  background-color: #cff4df;
}
.section-2-right .card-2 {
  width: 300px;
  padding: 20px;
  border-radius: 0px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: palevioletred;
  margin-top: 20px;
  text-align: center;
}

.section-2-right h1 {
  color: palevioletred;
}
.section-2-right p {
  line-height: 1.8;
}

.section-2-right button {
  background-color: palevioletred;
  color: white;
  padding: 15px;
  font-size: medium;
  font-weight: 700;
  border-radius: 0px 20px;
  border: none;
  margin-top: 10px;
}
.section-2-right button:hover {
  background-color: white;
  color: palevioletred;
}

/* SECTION-3 */

.section-3 {
  height: 30vh;
  background-color: palevioletred;
  color: white;
}
.section-3-counter {
  display: flex;
  justify-content: space-around; /* even spacing */
  align-items: center; /* vertical center */
  padding: 70px 20px;
}

.increment {
  text-align: center;
}

/* SECTION-4 */
.section-4 {
  height: 100vh;
  padding: 20px;
  background-color: #cff4df;
}
.section-4-header {
  text-align: center;
  padding: 30px;
  line-height: 1.8;
}
.section-4-header h3 {
  color: palevioletred;
  font-size: 30px;
}
.section-4-header h1 {
  color: #4f2555;
  font-size: 40px;
}
.section-4-header p {
  color: rgb(72, 72, 72);
  word-spacing: 2px;
}

/* SECTION-4-CARD */

.section-4-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
.section-4-card .card-4 {
  width: 450px;
  padding: 20px;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: palevioletred;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.card-4 i {
  font-size: 80px;
  display: flex;
  justify-content: flex-start;
}

.section-4-card h1 {
  color: palevioletred;
}
.section-4-card p {
  line-height: 1.8;
}
.card-title-4 {
  padding: 10px;
  color: white;
}
.card-text-4 {
  padding: 10px;
  line-height: 1.2;
  color: white;
}

.image-card {
  position: absolute;
  top: -18px;
  left: 305px;
}

.image-card img {
  width: 150px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid palevioletred;
}

.image-card-one {
  position: absolute;
  top: 50px;
  left: 325px;
}

.section-5 {
  height: 100vh;
  background-color: #cff4df;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-5-left {
  float: left;
  width: 50%;
  padding-left: 100px;
  line-height: 1.5;
}

.section-5 h3 {
  font-size: 30px;
  color: palevioletred;
}
.section-5 h1 {
  font-size: 50px;
  color: #4f2555;

  font-weight: 700;
}

.section-5 p {
  padding-top: 10px;
  padding-bottom: 20px;
  color: palevioletred;
  font-size: 20px;
  font-weight: 500;
}

.section-5 h4 {
  color: #4f2555;
}

.section-5-span {
  padding-right: 50px;
}

.section-5 button {
  background-color: palevioletred;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  border: none;
}

.section-5 button:hover {
  background-color: #4f2555;
}

/* .section-5-right img {
  width: 500px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid palevioletred;
} */

/* PRICING CARD */

.pricing-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cff4df;
}
.pricing-card-pink {
  width: 20%;
  height: 60%;
  padding: 50px;
  float: left;
  background-image: url("image/motherFeeding.jpg");
  background-size: cover;
  background-position: center;

  /* Transparent effect using overlay color */
  background-color: rgb(245, 163, 190); /* black with 50% transparency */
  background-blend-mode: lighten; /* or try overlay / multiply */
  border-radius: 0 30px 30px 30px;
  position: relative;
}
.min-card {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #4f2555;
  color: #fff;
  height: 100px;
  padding: 10px;
  border-radius: 0 0 0 20px;
  border: 3px solid palevioletred;
}
.pricing-list {
  position: absolute;
  top: 120px;
  line-height: 2;
  color: #4f2555;
  font-weight: 600;
}
.book-btn {
  position: absolute;
  bottom: 50px;
  padding: 15px;
  border-radius: 30px;
  border: 3px solid palevioletred;
  color: #fff;
  background-color: #4f2555;
}
.book-btn:hover {
  background-color: #cff4df;
  color: palevioletred;
  border: 3px solid #4f2555;
}
.pricing-card-blue {
  width: 20%;
  height: 60%;
  padding: 50px;
  float: left;
  background-image: url("image/babyimg01.jpg");
  background-size: cover;
  background-position: center;

  /* Transparent effect using overlay color */
  background-color: rgb(245, 163, 190); /* black with 50% transparency */
  background-blend-mode: lighten; /* or try overlay / multiply */
  color: black;
  border-radius: 0 30px 30px 30px;
  position: relative;
}

.pricing-card-content {
  width: 30%;
  line-height: 1.6;
}
.pricing-card-content h3 {
  color: palevioletred;
  font-size: 40px;
}
.pricing-card-content h1 {
  color: #4f2555;
  font-size: 40px;
}
.pricing-card-content p {
  font-size: 20px;
  color: palevioletred;
  padding: 10px;
}
.pricing-card-content button {
  padding: 20px;
  border-radius: 30px;
  border: 3px solid palevioletred;
  color: #fff;
  background-color: #4f2555;
  font-size: 15px;
  margin: 10px;
}
.pricing-card-content button:hover {
  background-color: #cff4df;
  color: palevioletred;
  border: 3px solid #4f2555;
}
.pricing-list li {
  list-style-type: none;
}

/* OUR TEAM */
.our-team {
  height: 100vh;
}
.our-team-content {
  text-align: center;
  padding: 30px;
  line-height: 1.6;
}
.our-team-content h3 {
  color: palevioletred;
  font-size: 30px;
}
.our-team-content h1 {
  color: #4f2555;
  font-size: 40px;
}
.our-team-content p {
  color: palevioletred;
  font-size: 20px;
  font-weight: 500;
}
.our-team-cardsection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.our-team-card {
  position: relative;
}
.our-team-card img {
  width: 350px;
  height: 400px;
  border: 2px solid palevioletred;
  border-radius: 0 0 30px 0;
}

.our-team-position {
  position: absolute;
  top: 350px;

  padding: 15px;
  background-color: palevioletred;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  border-radius: 0 0 0 20px;
}

.social-icons {
  position: absolute;
  top: 150px; /* Position at the bottom of the card */
  left: 80px;
  padding: 10px;
  display: none;
  /* Initial state: Hidden below the card */
  transform: translateY(100%);
  transition: transform 0.3s ease; /* Smooth transition for the slide-up effect */
}

.social-icons a {
  color: #f753a0; /* Pink color for icons */
  font-size: 1.5em;
  margin-right: 10px;
  padding: 10px;
}
.card-icon {
  background-color: #fff;
  border-radius: 50%;
}
.card-icon:hover {
  background-color: palevioletred;
  color: #cff4df;
}
.our-team-card:hover .member-photo {
  /* Desaturate and slightly lighten the image */

  filter: hue-rotate(310deg) saturate(300%) brightness(90%);
  /* Or use opacity for a simpler fade: filter: opacity(0.5); */
}

/* 2. Social Icons Slide-Up Effect */
.our-team-card:hover .social-icons {
  transform: translateY(
    0
  ); /* Slide the icons back up to their final position */
  display: block;
}

/* camera */
@property --width {
  syntax: "<length>";
  inherits: false;
  initial-value: 750px;
}
@property --height {
  syntax: "<length>";
  inherits: false;
  initial-value: 600px;
}
@property --scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --translate-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --translate-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --tX {
  syntax: "<length>";
  inherits: false;
  initial-value: 750px;
}
@property --tY {
  syntax: "<length>";
  inherits: false;
  initial-value: 250px;
}
@property --w {
  syntax: "<length>";
  inherits: false;
  initial-value: 250px;
}
@property --h {
  syntax: "<length>";
  inherits: false;
  initial-value: 250px;
}
.section-5-right {
  width: 100%;
}
.scene {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapper-images {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene-img {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transform: scale(var(--scale))
    translateX(
      calc((var(--tX) / var(--total)) * (var(--index) - (var(--total) / 2)))
    )
    translateY(calc(cos(60deg * var(--index)) * var(--tY) / 2));
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s calc((var(--index) * 0.2s) + 0.4s) ease-in-out forwards,
    alignImage 1s calc((var(--index) * 0.2s) + 3.3s) ease-in-out forwards;
  &:nth-child(1) {
    width: var(--width);
    height: var(--height);
    opacity: 1;
    visibility: visible;
    transform: translate(var(--translate-x), var(--translate-y));
    animation: firstImage 1s ease-in-out forwards,
      alignImage 1s 3.3s ease-in-out forwards;
    will-change: transform, opacity, visibility;
  }
  &:nth-last-of-type(1) {
    width: var(--w);
    height: var(--h);
  }
}
@keyframes firstImage {
  0% {
    --translate-x: 0;
    --translate-y: 0;
  }
  50% {
    --translate-x: 0;
    --translate-y: 0;
    --width: 700px;
    --height: 650px;
  }
  100% {
    --translate-x: -350px;
    --translate-y: -23px;
    --width: 250px;
    --height: 250px;
  }
}
@keyframes lastImage {
  from {
    --w: 250px;
    --h: 250px;
  }
  to {
    --w: 700px;
    --h: 650px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    --scale: 0.5;
  }
  to {
    opacity: 1;
    visibility: visible;
    --scale: 1;
  }
}
@keyframes alignImage {
  0% {
    --tX: 750px;
    --tY: 250px;
    --translate-x: -350px;
    --translate-y: -23px;
  }
  60% {
    --tX: 0px;
    --tY: 0px;
    --translate-x: 0px;
    --translate-y: 0px;
    --w: 250px;
    --h: 250px;
  }
  100% {
    --tX: 0px;
    --tY: 0px;
    --translate-x: 0px;
    --translate-y: 0px;
    --w: 700px;
    --h: 650px;
  }
}
/* FOOTER  */
.footer {
  height: 60vh;
  padding: 20px;
  background-color: #cff4df;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  width: 25%;
  padding: 20px;
}
.footer-content li {
  list-style-type: none;
  padding-top: 10px;
  color: #4a4a4a;
}
.footer-content li i {
  padding-right: 30px;
  color: palevioletred;
}
.footer-content li i:hover {
  color: white;
}
.footer-content p {
  padding-top: 10px;
  line-height: 1.6;
  color: #4a4a4a;
}
.footer-content h1 {
  padding-bottom: 10px;
}
.footer-content h3 {
  padding-bottom: 10px;
  color: palevioletred;
  font-size: 25px;
}
.footer-icons {
  padding: 20px;
}
.footer-icon {
  padding: 15px;
  font-size: 1em;
  background-color: palevioletred;
  color: #fff;
  border-radius: 50%;
}
.footer-icon:hover {
  background-color: #fff;
  color: palevioletred;
}
